.odd-number {
    background-color: hsl(0, 100%, 90%);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#number-two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#number-four {
    background-color: #90ee90;
    font-weight: bold;
}